/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3e9d2;
    /* Creamy White */
}

header {
    background: linear-gradient(135deg, #73c8ff, #398bf7);
    /* Gradient from Light Blue to Dark Blue */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    background: linear-gradient(135deg, #add8e6, #ffffff);
    /* Gradient from Light Blue to White */
    padding: 10px;
    font-size: large;
    text-align: center;
    display: flexbox;
    /* align-items: center; */
    column-gap: 20px;
    border: 1px solid #333;
    position: sticky;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #333;
    /* Dark Blue */
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 0 5px;
}

nav a:hover {
    background-color: #f3e9d2;
    /* Creamy White */
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.trainingschedule {
    border: 1px solid #398bf7;
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
}

table {
    border: 1px solid #fff;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th,
td {
    border: 1px solid #051d40;
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
}

th {
    background-color: #3a5f9f;
    color: aliceblue;
    font-size: 1.15em;
}

tr:nth-child(odd) {
    background-color: #f0f8ff;
}

tr:nth-child(even) {
    background-color: #6495ed;
}

tr:hover {
    background-color: #87ceeb;
    color: #ffffff;
}